.cards {
    display: flex;
    flex-wrap: wrap;
}

.person-card {
    border: 1px solid red;
    padding: 30px;
    margin: 10px;
    background-color: green;
    border-radius: 4%;
}

.person-card h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

img {
    height: 150px;
    width: 170px;
}
.person-card {
    text-align: center;
}